{% extends "./_base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<form class="w-full md:w-3/4 p-5 space-y-3" method="post">
    {% csrf_token %}

    <div class="flex items-center flex-col space-y-3 w-3/4 text-center mx-auto">
        <a href="{% url 'app:home_page' %}"><img src="{% static 'img/logo.png' %}" alt="Logo" class="w-24"></a>
        <h2 class="text-3xl font-semibold">Change Password</h2>
        <p class="text-sm">Congratulations, your email has been verified! You can now reset your password.</p>
    </div>

    {% if messages %}
    {% for message in messages %}
    <div class="p-4 mb-4 border-l-4 
                        {% if 'error' in message.tags %}
                            border-red-500 bg-red-100 text-red-800
                        {% elif 'success' in message.tags %}
                            border-green-500 bg-green-100 text-green-800
                        {% else %}
                            border-gray-500 bg-gray-100 text-gray-800
                        {% endif %}">
        <div class="flex justify-between items-center flex-col">
            <span class="font-medium">{{ message.tags|title }}:</span>
            <span class="ml-2">{{ message }}</span>
            <button type="button" class="ml-4 text-gray-500 hover:text-gray-700"
                onclick="this.parentElement.parentElement.remove()">
                &times;
            </button>
        </div>
    </div>
    {% endfor %}
    {% endif %}


    <div class="space-y-2 w-full">
        <label for="id_new_password1">Password</label>
        <input type="password" name="new_password1" id="id_new_password1"
            class="w-full p-2 border border-gray-300 rounded-md" required>
        <span class="helptext text-sm text-gray-500" id="id_new_password1_helptext"></span>
    </div>

    <ul class="text-xs text-gray-600 list-disc list-inside space-y-1">
        <li>Your password can’t be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can’t be a commonly used password.</li>
        <li>Your password can’t be entirely numeric.</li>
    </ul>

    <div class="space-y-2 w-full">
        <label for="id_new_password2">Confirm Password</label>
        <input type="password" name="new_password2" id="id_new_password2"
            class="w-full p-2 border border-gray-300 rounded-md" required>
        <span class="helptext text-sm text-gray-500" id="id_new_password2_helptext">
            Please re-enter the same password for confirmation.
        </span>
    </div>



    <button
        class="w-full p-2 text-center bg-[#D0AC42] duration-300 hover:bg-primary hover:text-white rounded-md">Proceed</button>
</form>
{% endblock %}