{% extends "./_base.html" %}
{% load static %}

{% block title %}Email Verification Sent{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="bg-white p-8 rounded-lg w-full flex items-center flex-col space-y-5">
        <img src="{% static 'img/check.png' %}" alt="" class="w-48">
        <p class="text-gray-600">
            Congratulations, your password has been successfully reset!
            You can now log in.
        </p>

        <div class="text-center">
            <a href="{% url 'accounts:login' %}" class="text-blue-600 hover:underline">
                Return to Login
            </a>
        </div>
    </div>
</div>
{% endblock %}