{% extends "_base.html" %}
{% load static %}

{% block title %}Password Reset{% endblock %}

{% block content %}

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="{% static 'img/blog/blog-7.jpg' %}" alt="">
                    <div class="hover">
                        <h4>Welcome to {{ APP_NAME }}</h4>
                        <p>Reset Your Password</p>
                        <p>Forgot your password? No worries! We're here to help you get back into your account.</p>
                        <p>Enter your email address below, and we'll send you a link to reset your password.</p>
                        <a class="btn custom-background" href="{% url 'accounts:login' %}">Create an Account</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Forgot Password</h3>
                    <form class="row login_form" method="post" id="contactForm">
                        {% csrf_token %}
                        <div id="login-errors" class="col-md-12 form-group text-danger"></div>
                        <div class="col-md-12 form-group">
                            <input type="email" class="form-control" id="{{ form.email.id }}"
                                name="{{ form.email.name }}" placeholder="Email Address">
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" class="btn custom-outline-background w-75"
                                id="login-button">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->
{% endblock %}