{% extends "_base.html" %}
{% load static %}


{% block title %}Password Reset{% endblock %}

{% block content %}

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="login_box_img">
                    <img class="img-fluid" src="{% static 'img/blog/blog-7.jpg' %}" alt="">
                    <div class="hover">
                        <h1>Check your inbox.</h1>
                        <p>We've emailed you instructions for setting your password.
                            You should receive the email shortly!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->
{% endblock %}