{% extends "_base.html" %}
{% load static %}


{% block title %}Password Reset{% endblock %}

{% block content %}

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="login_box_img">
                    <img class="img-fluid" src="{% static 'img/blog/blog-7.jpg' %}" alt="">
                    <div class="hover">
                        <h1>Password reset complete</h1>
                        <p>Your new password has been set. You can log in now on the
                            <a href="{% url 'login' %}" class="btn custom-outline-background w-75">log in page</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->
{% endblock %}