{% extends '_base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<section class="register-section">
    <h1>Register</h1>
    <form action="{% url 'accounts:register' %}" method="POST">
        {% csrf_token %}
        <label for="email">Email Address:</label>
        <input type="email" id="email" name="email" required>
        <label for="phone_number">Phone Number:</label>
        <input type="text" id="phone_number" name="phone_number" required>
        <label for="password1">Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        <button type="submit">Register</button>
    </form>
</section>
{% endblock %}