{% extends './_base.html' %}
{% load static %}

{% block page_title %}Minutes{% endblock page_title %}

{% block content %}
<div class="flex space-x-4 items-center">
    <h3 class="text-md font-semibold text-[#5A605E]">Minutes</h3>
</div>

<div class="flex items-center justify-between my-3">
    <form class="px-4 py-2 rounded-md border flex w-3/4">
        <span class="py-1 px-2 bg-[#F0F2F5] text-sm">
            <i class="ti ti-search"></i>
        </span>
        <input type="search" class="w-full px-2 py-1 rounded-md bg-[#F0F2F5] text-sm outline-none"
            placeholder="Search here...">
    </form>
</div>

<div>
    <table class="min-w-full bg-white border-collapse">
        <thead>
            <tr>
                <th class="py-2 px-4 border-b">Title</th>
                <th class="py-2 px-4 border-b">Date</th>
                <th class="py-2 px-4 border-b">Minutes</th>
                <th class="py-2 px-4 border-b">Download</th>
            </tr>
        </thead>
        <tbody>
            {% for minute in minutes %}
            <tr>
                <td class="py-2 px-4 border-b">{{ minute.title }}</td>
                <td class="py-2 px-4 border-b">{{ minute.date|date:"n/j/Y" }}</td>
                <td class="py-2 px-4 border-b">{{ minute.minuites|truncatewords:20 }}</td>
                <td class="py-2 px-4 border-b">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="minute_id" value="{{ minute.id }}">
                        <button type="submit" name="download_minute"
                            class="text-primary hover:text-blue-700">Download</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}