<section class="stats">
    <div class="card bg-yellow-700 rounded-sm">
        <div class="space-y-2">
            <h3 class="text-2xl font-bold">Total Members</h3>
            <p class="text-lg font-medium">{{total_users}}</p>
        </div>
        <div class="icon-container">
            <i class="ti ti-users"></i>
        </div>
    </div>
    <div class="card bg-green-700 rounded-sm">
        <div class="space-y-2">
            <h3 class="text-2xl font-bold">Projects</h3>
            <p class="text-lg font-medium">0</p>
        </div>
        <div class="icon-container">
            <i class="ti ti-calendar"></i>
        </div>
    </div>
    <div class="card bg-red-700 rounded-sm">
        <div class="space-y-2">
            <h3 class="text-2xl font-bold">Minutes</h3>
            <p class="text-lg font-medium">{{total_minutes}}</p>
        </div>
        <div class="icon-container">
            <i class="ti ti-book"></i>
        </div>
    </div>
</section>