{% extends './_base.html' %}
{% load static %}

{% block page_title %}Project Management{% endblock page_title %}

{% block content %}

<!-- Greeting Section -->
<div class="under">
    <div class="space-y-1">
        <h3 class="text-3xl font-semibold">
            Hi,
            {% if request.user.first_name %}
            {{request.user.first_name}}
            {% else%}
            Admin
            {% endif %}</h3>
    </div>
    <a href="afterCreate.html"></a>
    <a href="#"
        class="px-7 py-3 bg-secondary hover:bg-primary duration-300 text-white font-semibold text-sm rounded-md">Create
        Project</a>
</div>

<!-- Stats Cards -->
{% include './_stats.html' %}


<!-- Members Section -->
<section class="p-0">
    {% include './_dash-menu-tabs.html' %}

    <div class="flex items-center justify-center space-y-2 flex-col">
        <img src="{% static 'img/user.png' %}" alt="No Members" class="w-24">
        <h2>No projects created</h2>
        <p>Currently, there are no Projects in the system.</p>
    </div>
</section>
{% endblock content %}